.input-section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(252, 252, 252);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section input {
    width: 100%;
    height: 50%;
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
}

.input-section select {
    width: 30%;
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
}

button {
    width: 40%;
    max-width: 30%;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(125, 188, 230);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(105, 159, 196);
}